/FDTF/__pycache__/*

/FDTF/saved_models/morf/Quiz/
/FDTF/results/morf/Quiz/
/FDTF/results/mastery_grids/Quiz/
/FDTF/logs/morf/Quiz/
/FDTF/logs/mastery_grids/Quiz/
/FDTF/data/mastery_grids/Quiz/
/FDTF/data/morf/Quiz/
